.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #5D4E6D;
    width: 100%;
}

.navBarItems h3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: right;
    flex-grow: 1;
    text-decoration: none;
    margin: 20px;
    justify-self: center;
    align-self: center;
    border: 2px solid #B8C0AF;
    border-radius: 5px;
    width: auto;
    padding: 8px;
    color: #B8C0AF;
}

.navBarItems {
    text-decoration: none;
}

.navBarItems:hover {
    color: lightblue;
}

.navBarTitle {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: left;
    flex-grow: 2;
    text-decoration: none;
    margin: 20px;
    align-self: center;
    font-size: 35px;
    color: #C1B7CC;
}
