/*.basicInfoForm {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*}*/

.basicInfoForm .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    width: 80%;
    margin: 20px auto;
    align-items: end;
}

/*.basicInfoForm .formField {*/
/*    */
/*}*/
@media only screen and (max-width: 650px) {
    .basicInfoForm .formContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}