/*.moreDetailsForm {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    !*margin: 0 auto;*!*/
/*}*/

/*#moreDetailsGridRoot {*/
/*    margin-left: 0;*/
/*}*/

.moreDetailsForm .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    width: 80%;
    margin: 20px auto;
    align-items: end;
}
